<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="tests">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/_/</exclude>
            <exclude>./tests/data/</exclude>
        </testsuite>
    </testsuites>
</phpunit>